h1{
    text-align: center;
    color: burlywood;
    font-family: serif;
}
h2{
    text-align: center;
    color: burlywood;
}
p{
    color: burlywood;
    text-align: center;
    font-family: monospace;
}