h1{
    text-align: center;
    color: burlywood;
    font-family: serif;
}
h2{
    text-align: center;
    color: burlywood;
}
p{
    color: burlywood;
    text-align: center;
    font-family: monospace;
}
iframe{
    display: block;
    margin-left: 500px;
}
p.home{
    text-align: left;
}
p.final{
    text-align: center;
}