h1.inicio{
    text-align: center;
    color:rgb(110, 28, 28);
}

body{
    background-color: bisque;
}

p.carta{
    position: relative;
    top:25px;
    left:0px;
}

p.cafe{
    position: relative;
    top: 60px;
    left: 550px;
}

p.contacto{
    position: relative;
    top: 90px;
    left: 1200px;
}



.foto1{
    display:block;
    margin-left:600px;
    margin-right:650px;
    width:100px;
}
.foto2{
    display:block;
    margin-left:1260px;
    margin-right:650px;
    width:100px;
}
.foto3{
    display: block;
    margin-left: 40px;
}